body {
	background: #45a173;
}
#dealer {
	overflow: visible;
	padding-bottom: 10px;
}
.section {
	background-color: rgba(255, 255, 255, .1);
	margin-top: 20px;
}

.min-height {
	min-height: 176px;
}

#deck {
	position: relative;
	float: left;
	width: 71px + 35px;
	height: 103px + 35px;
}

.card {
	width: 71px + 20;
	height: 103px + 20;
	position: absolute;
	top: 0;
	left: 0;
	background-size: 100% 100%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	transform-style: preserve-3d;
	transition: transform .3s;
}
.dealt-card {
	position: static;
	float: left;
	margin-right: 20px;
}

#player-pane, #ai-pane {
	overflow: visible;
}

.card-slot {
	position: relative;
	float: left;
	background-color: rgba(0, 0, 0, .1);
	width: 71px + 30;
	height: 103px + 30;
	margin-right: 10px;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
	perspective: 0;
}

.rotate {
	transform: rotate(360deg);
	transition: transform .4s ease-in-out;
}

.card.face-up {
	transform: rotateY(180deg);
}

.card figure {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	backface-visibility: hidden;
}

.back {
	background-image: url('../cards/back.png') !important;
	// transform: rotateY(180deg);
}
.front {
	transform: rotateY(180deg);
}

.selected-card {
	margin-top: -10px;
	transition: margin .2s ease-in-out;
}

#waste {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, .5);
}


.hearts-2    { background-image: url('../cards/2_of_hearts.png'); }
.hearts-3    { background-image: url('../cards/3_of_hearts.png'); }
.hearts-4    { background-image: url('../cards/4_of_hearts.png'); }
.hearts-5    { background-image: url('../cards/5_of_hearts.png'); }
.hearts-6    { background-image: url('../cards/6_of_hearts.png'); }
.hearts-7    { background-image: url('../cards/7_of_hearts.png'); }
.hearts-8    { background-image: url('../cards/8_of_hearts.png'); }
.hearts-9    { background-image: url('../cards/9_of_hearts.png'); }
.hearts-10   { background-image: url('../cards/10_of_hearts.png'); }
.hearts-j    { background-image: url('../cards/j_of_hearts.png'); }
.hearts-q    { background-image: url('../cards/q_of_hearts.png'); }
.hearts-k    { background-image: url('../cards/k_of_hearts.png'); }
.hearts-a    { background-image: url('../cards/a_of_hearts.png'); }

.diamonds-2  { background-image: url('../cards/2_of_diamonds.png'); }
.diamonds-3  { background-image: url('../cards/3_of_diamonds.png'); }
.diamonds-4  { background-image: url('../cards/4_of_diamonds.png'); }
.diamonds-5  { background-image: url('../cards/5_of_diamonds.png'); }
.diamonds-6  { background-image: url('../cards/6_of_diamonds.png'); }
.diamonds-7  { background-image: url('../cards/7_of_diamonds.png'); }
.diamonds-8  { background-image: url('../cards/8_of_diamonds.png'); }
.diamonds-9  { background-image: url('../cards/9_of_diamonds.png'); }
.diamonds-10 { background-image: url('../cards/10_of_diamonds.png'); }
.diamonds-j  { background-image: url('../cards/j_of_diamonds.png'); }
.diamonds-q  { background-image: url('../cards/q_of_diamonds.png'); }
.diamonds-k  { background-image: url('../cards/k_of_diamonds.png'); }
.diamonds-a  { background-image: url('../cards/a_of_diamonds.png'); }

.spades-2    { background-image: url('../cards/2_of_spades.png'); }
.spades-3    { background-image: url('../cards/3_of_spades.png'); }
.spades-4    { background-image: url('../cards/4_of_spades.png'); }
.spades-5    { background-image: url('../cards/5_of_spades.png'); }
.spades-6    { background-image: url('../cards/6_of_spades.png'); }
.spades-7    { background-image: url('../cards/7_of_spades.png'); }
.spades-8    { background-image: url('../cards/8_of_spades.png'); }
.spades-9    { background-image: url('../cards/9_of_spades.png'); }
.spades-10   { background-image: url('../cards/10_of_spades.png'); }
.spades-j    { background-image: url('../cards/j_of_spades.png'); }
.spades-q    { background-image: url('../cards/q_of_spades.png'); }
.spades-k    { background-image: url('../cards/k_of_spades.png'); }
.spades-a    { background-image: url('../cards/a_of_spades.png'); }

.clubs-2     { background-image: url('../cards/2_of_clubs.png'); }
.clubs-3     { background-image: url('../cards/3_of_clubs.png'); }
.clubs-4     { background-image: url('../cards/4_of_clubs.png'); }
.clubs-5     { background-image: url('../cards/5_of_clubs.png'); }
.clubs-6     { background-image: url('../cards/6_of_clubs.png'); }
.clubs-7     { background-image: url('../cards/7_of_clubs.png'); }
.clubs-8     { background-image: url('../cards/8_of_clubs.png'); }
.clubs-9     { background-image: url('../cards/9_of_clubs.png'); }
.clubs-10    { background-image: url('../cards/10_of_clubs.png'); }
.clubs-j     { background-image: url('../cards/j_of_clubs.png'); }
.clubs-q     { background-image: url('../cards/q_of_clubs.png'); }
.clubs-k     { background-image: url('../cards/k_of_clubs.png'); }
.clubs-a     { background-image: url('../cards/a_of_clubs.png'); }

.rotated-1 { transform: rotate(1deg); transition: transform .4s ease-in-out; }
.rotated-2 { transform: rotate(2deg); transition: transform .4s ease-in-out; }
.rotated-3 { transform: rotate(3deg); transition: transform .4s ease-in-out; }
.rotated-4 { transform: rotate(4deg); transition: transform .4s ease-in-out; }
.rotated-5 { transform: rotate(5deg); transition: transform .4s ease-in-out; }
.rotated-6 { transform: rotate(6deg); transition: transform .4s ease-in-out; }
.rotated-7 { transform: rotate(7deg); transition: transform .4s ease-in-out; }
.rotated-8 { transform: rotate(8deg); transition: transform .4s ease-in-out; }
.rotated-9 { transform: rotate(9deg); transition: transform .4s ease-in-out; }
.rotated-10 { transform: rotate(10deg); transition: transform .4s ease-in-out; }
.rotated-11 { transform: rotate(11deg); transition: transform .4s ease-in-out; }
.rotated-12 { transform: rotate(12deg); transition: transform .4s ease-in-out; }
.rotated-13 { transform: rotate(13deg); transition: transform .4s ease-in-out; }
.rotated-14 { transform: rotate(14deg); transition: transform .4s ease-in-out; }
.rotated-15 { transform: rotate(15deg); transition: transform .4s ease-in-out; }
.rotated-16 { transform: rotate(16deg); transition: transform .4s ease-in-out; }
.rotated-17 { transform: rotate(17deg); transition: transform .4s ease-in-out; }
.rotated-18 { transform: rotate(18deg); transition: transform .4s ease-in-out; }
.rotated-19 { transform: rotate(19deg); transition: transform .4s ease-in-out; }
.rotated-20 { transform: rotate(20deg); transition: transform .4s ease-in-out; }
.rotated-21 { transform: rotate(21deg); transition: transform .4s ease-in-out; }
.rotated-22 { transform: rotate(22deg); transition: transform .4s ease-in-out; }
.rotated-23 { transform: rotate(23deg); transition: transform .4s ease-in-out; }
.rotated-24 { transform: rotate(24deg); transition: transform .4s ease-in-out; }
.rotated-25 { transform: rotate(25deg); transition: transform .4s ease-in-out; }
.rotated-26 { transform: rotate(26deg); transition: transform .4s ease-in-out; }
.rotated-27 { transform: rotate(27deg); transition: transform .4s ease-in-out; }
.rotated-28 { transform: rotate(28deg); transition: transform .4s ease-in-out; }
.rotated-29 { transform: rotate(29deg); transition: transform .4s ease-in-out; }
.rotated-30 { transform: rotate(30deg); transition: transform .4s ease-in-out; }
.rotated-31 { transform: rotate(31deg); transition: transform .4s ease-in-out; }
.rotated-32 { transform: rotate(32deg); transition: transform .4s ease-in-out; }
.rotated-33 { transform: rotate(33deg); transition: transform .4s ease-in-out; }
.rotated-34 { transform: rotate(34deg); transition: transform .4s ease-in-out; }
.rotated-35 { transform: rotate(35deg); transition: transform .4s ease-in-out; }
.rotated-36 { transform: rotate(36deg); transition: transform .4s ease-in-out; }
.rotated-37 { transform: rotate(37deg); transition: transform .4s ease-in-out; }
.rotated-38 { transform: rotate(38deg); transition: transform .4s ease-in-out; }
.rotated-39 { transform: rotate(39deg); transition: transform .4s ease-in-out; }
.rotated-40 { transform: rotate(40deg); transition: transform .4s ease-in-out; }
.rotated-41 { transform: rotate(41deg); transition: transform .4s ease-in-out; }
.rotated-42 { transform: rotate(42deg); transition: transform .4s ease-in-out; }
.rotated-43 { transform: rotate(43deg); transition: transform .4s ease-in-out; }
.rotated-44 { transform: rotate(44deg); transition: transform .4s ease-in-out; }
.rotated-45 { transform: rotate(45deg); transition: transform .4s ease-in-out; }
.rotated-46 { transform: rotate(46deg); transition: transform .4s ease-in-out; }
.rotated-47 { transform: rotate(47deg); transition: transform .4s ease-in-out; }
.rotated-48 { transform: rotate(48deg); transition: transform .4s ease-in-out; }
.rotated-49 { transform: rotate(49deg); transition: transform .4s ease-in-out; }
.rotated-50 { transform: rotate(50deg); transition: transform .4s ease-in-out; }
.rotated-51 { transform: rotate(51deg); transition: transform .4s ease-in-out; }
.rotated-52 { transform: rotate(52deg); transition: transform .4s ease-in-out; }
.rotated-53 { transform: rotate(53deg); transition: transform .4s ease-in-out; }
.rotated-54 { transform: rotate(54deg); transition: transform .4s ease-in-out; }
.rotated-55 { transform: rotate(55deg); transition: transform .4s ease-in-out; }
.rotated-56 { transform: rotate(56deg); transition: transform .4s ease-in-out; }
.rotated-57 { transform: rotate(57deg); transition: transform .4s ease-in-out; }
.rotated-58 { transform: rotate(58deg); transition: transform .4s ease-in-out; }
.rotated-59 { transform: rotate(59deg); transition: transform .4s ease-in-out; }
.rotated-60 { transform: rotate(60deg); transition: transform .4s ease-in-out; }
.rotated-61 { transform: rotate(61deg); transition: transform .4s ease-in-out; }
.rotated-62 { transform: rotate(62deg); transition: transform .4s ease-in-out; }
.rotated-63 { transform: rotate(63deg); transition: transform .4s ease-in-out; }
.rotated-64 { transform: rotate(64deg); transition: transform .4s ease-in-out; }
.rotated-65 { transform: rotate(65deg); transition: transform .4s ease-in-out; }
.rotated-66 { transform: rotate(66deg); transition: transform .4s ease-in-out; }
.rotated-67 { transform: rotate(67deg); transition: transform .4s ease-in-out; }
.rotated-68 { transform: rotate(68deg); transition: transform .4s ease-in-out; }
.rotated-69 { transform: rotate(69deg); transition: transform .4s ease-in-out; }
.rotated-70 { transform: rotate(70deg); transition: transform .4s ease-in-out; }
.rotated-71 { transform: rotate(71deg); transition: transform .4s ease-in-out; }
.rotated-72 { transform: rotate(72deg); transition: transform .4s ease-in-out; }
.rotated-73 { transform: rotate(73deg); transition: transform .4s ease-in-out; }
.rotated-74 { transform: rotate(74deg); transition: transform .4s ease-in-out; }
.rotated-75 { transform: rotate(75deg); transition: transform .4s ease-in-out; }
.rotated-76 { transform: rotate(76deg); transition: transform .4s ease-in-out; }
.rotated-77 { transform: rotate(77deg); transition: transform .4s ease-in-out; }
.rotated-78 { transform: rotate(78deg); transition: transform .4s ease-in-out; }
.rotated-79 { transform: rotate(79deg); transition: transform .4s ease-in-out; }
.rotated-80 { transform: rotate(80deg); transition: transform .4s ease-in-out; }
.rotated-81 { transform: rotate(81deg); transition: transform .4s ease-in-out; }
.rotated-82 { transform: rotate(82deg); transition: transform .4s ease-in-out; }
.rotated-83 { transform: rotate(83deg); transition: transform .4s ease-in-out; }
.rotated-84 { transform: rotate(84deg); transition: transform .4s ease-in-out; }
.rotated-85 { transform: rotate(85deg); transition: transform .4s ease-in-out; }
.rotated-86 { transform: rotate(86deg); transition: transform .4s ease-in-out; }
.rotated-87 { transform: rotate(87deg); transition: transform .4s ease-in-out; }
.rotated-88 { transform: rotate(88deg); transition: transform .4s ease-in-out; }
.rotated-89 { transform: rotate(89deg); transition: transform .4s ease-in-out; }
.rotated-90 { transform: rotate(90deg); transition: transform .4s ease-in-out; }
.rotated-91 { transform: rotate(91deg); transition: transform .4s ease-in-out; }
.rotated-92 { transform: rotate(92deg); transition: transform .4s ease-in-out; }
.rotated-93 { transform: rotate(93deg); transition: transform .4s ease-in-out; }
.rotated-94 { transform: rotate(94deg); transition: transform .4s ease-in-out; }
.rotated-95 { transform: rotate(95deg); transition: transform .4s ease-in-out; }
.rotated-96 { transform: rotate(96deg); transition: transform .4s ease-in-out; }
.rotated-97 { transform: rotate(97deg); transition: transform .4s ease-in-out; }
.rotated-98 { transform: rotate(98deg); transition: transform .4s ease-in-out; }
.rotated-99 { transform: rotate(99deg); transition: transform .4s ease-in-out; }
.rotated-100 { transform: rotate(100deg); transition: transform .4s ease-in-out; }
.rotated-101 { transform: rotate(101deg); transition: transform .4s ease-in-out; }
.rotated-102 { transform: rotate(102deg); transition: transform .4s ease-in-out; }
.rotated-103 { transform: rotate(103deg); transition: transform .4s ease-in-out; }
.rotated-104 { transform: rotate(104deg); transition: transform .4s ease-in-out; }
.rotated-105 { transform: rotate(105deg); transition: transform .4s ease-in-out; }
.rotated-106 { transform: rotate(106deg); transition: transform .4s ease-in-out; }
.rotated-107 { transform: rotate(107deg); transition: transform .4s ease-in-out; }
.rotated-108 { transform: rotate(108deg); transition: transform .4s ease-in-out; }
.rotated-109 { transform: rotate(109deg); transition: transform .4s ease-in-out; }
.rotated-110 { transform: rotate(110deg); transition: transform .4s ease-in-out; }
.rotated-111 { transform: rotate(111deg); transition: transform .4s ease-in-out; }
.rotated-112 { transform: rotate(112deg); transition: transform .4s ease-in-out; }
.rotated-113 { transform: rotate(113deg); transition: transform .4s ease-in-out; }
.rotated-114 { transform: rotate(114deg); transition: transform .4s ease-in-out; }
.rotated-115 { transform: rotate(115deg); transition: transform .4s ease-in-out; }
.rotated-116 { transform: rotate(116deg); transition: transform .4s ease-in-out; }
.rotated-117 { transform: rotate(117deg); transition: transform .4s ease-in-out; }
.rotated-118 { transform: rotate(118deg); transition: transform .4s ease-in-out; }
.rotated-119 { transform: rotate(119deg); transition: transform .4s ease-in-out; }
.rotated-120 { transform: rotate(120deg); transition: transform .4s ease-in-out; }
.rotated-121 { transform: rotate(121deg); transition: transform .4s ease-in-out; }
.rotated-122 { transform: rotate(122deg); transition: transform .4s ease-in-out; }
.rotated-123 { transform: rotate(123deg); transition: transform .4s ease-in-out; }
.rotated-124 { transform: rotate(124deg); transition: transform .4s ease-in-out; }
.rotated-125 { transform: rotate(125deg); transition: transform .4s ease-in-out; }
.rotated-126 { transform: rotate(126deg); transition: transform .4s ease-in-out; }
.rotated-127 { transform: rotate(127deg); transition: transform .4s ease-in-out; }
.rotated-128 { transform: rotate(128deg); transition: transform .4s ease-in-out; }
.rotated-129 { transform: rotate(129deg); transition: transform .4s ease-in-out; }
.rotated-130 { transform: rotate(130deg); transition: transform .4s ease-in-out; }
.rotated-131 { transform: rotate(131deg); transition: transform .4s ease-in-out; }
.rotated-132 { transform: rotate(132deg); transition: transform .4s ease-in-out; }
.rotated-133 { transform: rotate(133deg); transition: transform .4s ease-in-out; }
.rotated-134 { transform: rotate(134deg); transition: transform .4s ease-in-out; }
.rotated-135 { transform: rotate(135deg); transition: transform .4s ease-in-out; }
.rotated-136 { transform: rotate(136deg); transition: transform .4s ease-in-out; }
.rotated-137 { transform: rotate(137deg); transition: transform .4s ease-in-out; }
.rotated-138 { transform: rotate(138deg); transition: transform .4s ease-in-out; }
.rotated-139 { transform: rotate(139deg); transition: transform .4s ease-in-out; }
.rotated-140 { transform: rotate(140deg); transition: transform .4s ease-in-out; }
.rotated-141 { transform: rotate(141deg); transition: transform .4s ease-in-out; }
.rotated-142 { transform: rotate(142deg); transition: transform .4s ease-in-out; }
.rotated-143 { transform: rotate(143deg); transition: transform .4s ease-in-out; }
.rotated-144 { transform: rotate(144deg); transition: transform .4s ease-in-out; }
.rotated-145 { transform: rotate(145deg); transition: transform .4s ease-in-out; }
.rotated-146 { transform: rotate(146deg); transition: transform .4s ease-in-out; }
.rotated-147 { transform: rotate(147deg); transition: transform .4s ease-in-out; }
.rotated-148 { transform: rotate(148deg); transition: transform .4s ease-in-out; }
.rotated-149 { transform: rotate(149deg); transition: transform .4s ease-in-out; }
.rotated-150 { transform: rotate(150deg); transition: transform .4s ease-in-out; }
.rotated-151 { transform: rotate(151deg); transition: transform .4s ease-in-out; }
.rotated-152 { transform: rotate(152deg); transition: transform .4s ease-in-out; }
.rotated-153 { transform: rotate(153deg); transition: transform .4s ease-in-out; }
.rotated-154 { transform: rotate(154deg); transition: transform .4s ease-in-out; }
.rotated-155 { transform: rotate(155deg); transition: transform .4s ease-in-out; }
.rotated-156 { transform: rotate(156deg); transition: transform .4s ease-in-out; }
.rotated-157 { transform: rotate(157deg); transition: transform .4s ease-in-out; }
.rotated-158 { transform: rotate(158deg); transition: transform .4s ease-in-out; }
.rotated-159 { transform: rotate(159deg); transition: transform .4s ease-in-out; }
.rotated-160 { transform: rotate(160deg); transition: transform .4s ease-in-out; }
.rotated-161 { transform: rotate(161deg); transition: transform .4s ease-in-out; }
.rotated-162 { transform: rotate(162deg); transition: transform .4s ease-in-out; }
.rotated-163 { transform: rotate(163deg); transition: transform .4s ease-in-out; }
.rotated-164 { transform: rotate(164deg); transition: transform .4s ease-in-out; }
.rotated-165 { transform: rotate(165deg); transition: transform .4s ease-in-out; }
.rotated-166 { transform: rotate(166deg); transition: transform .4s ease-in-out; }
.rotated-167 { transform: rotate(167deg); transition: transform .4s ease-in-out; }
.rotated-168 { transform: rotate(168deg); transition: transform .4s ease-in-out; }
.rotated-169 { transform: rotate(169deg); transition: transform .4s ease-in-out; }
.rotated-170 { transform: rotate(170deg); transition: transform .4s ease-in-out; }
.rotated-171 { transform: rotate(171deg); transition: transform .4s ease-in-out; }
.rotated-172 { transform: rotate(172deg); transition: transform .4s ease-in-out; }
.rotated-173 { transform: rotate(173deg); transition: transform .4s ease-in-out; }
.rotated-174 { transform: rotate(174deg); transition: transform .4s ease-in-out; }
.rotated-175 { transform: rotate(175deg); transition: transform .4s ease-in-out; }
.rotated-176 { transform: rotate(176deg); transition: transform .4s ease-in-out; }
.rotated-177 { transform: rotate(177deg); transition: transform .4s ease-in-out; }
.rotated-178 { transform: rotate(178deg); transition: transform .4s ease-in-out; }
.rotated-179 { transform: rotate(179deg); transition: transform .4s ease-in-out; }
.rotated-180 { transform: rotate(180deg); transition: transform .4s ease-in-out; }
.rotated-181 { transform: rotate(181deg); transition: transform .4s ease-in-out; }
.rotated-182 { transform: rotate(182deg); transition: transform .4s ease-in-out; }
.rotated-183 { transform: rotate(183deg); transition: transform .4s ease-in-out; }
.rotated-184 { transform: rotate(184deg); transition: transform .4s ease-in-out; }
.rotated-185 { transform: rotate(185deg); transition: transform .4s ease-in-out; }
.rotated-186 { transform: rotate(186deg); transition: transform .4s ease-in-out; }
.rotated-187 { transform: rotate(187deg); transition: transform .4s ease-in-out; }
.rotated-188 { transform: rotate(188deg); transition: transform .4s ease-in-out; }
.rotated-189 { transform: rotate(189deg); transition: transform .4s ease-in-out; }
.rotated-190 { transform: rotate(190deg); transition: transform .4s ease-in-out; }
.rotated-191 { transform: rotate(191deg); transition: transform .4s ease-in-out; }
.rotated-192 { transform: rotate(192deg); transition: transform .4s ease-in-out; }
.rotated-193 { transform: rotate(193deg); transition: transform .4s ease-in-out; }
.rotated-194 { transform: rotate(194deg); transition: transform .4s ease-in-out; }
.rotated-195 { transform: rotate(195deg); transition: transform .4s ease-in-out; }
.rotated-196 { transform: rotate(196deg); transition: transform .4s ease-in-out; }
.rotated-197 { transform: rotate(197deg); transition: transform .4s ease-in-out; }
.rotated-198 { transform: rotate(198deg); transition: transform .4s ease-in-out; }
.rotated-199 { transform: rotate(199deg); transition: transform .4s ease-in-out; }
.rotated-200 { transform: rotate(200deg); transition: transform .4s ease-in-out; }
.rotated-201 { transform: rotate(201deg); transition: transform .4s ease-in-out; }
.rotated-202 { transform: rotate(202deg); transition: transform .4s ease-in-out; }
.rotated-203 { transform: rotate(203deg); transition: transform .4s ease-in-out; }
.rotated-204 { transform: rotate(204deg); transition: transform .4s ease-in-out; }
.rotated-205 { transform: rotate(205deg); transition: transform .4s ease-in-out; }
.rotated-206 { transform: rotate(206deg); transition: transform .4s ease-in-out; }
.rotated-207 { transform: rotate(207deg); transition: transform .4s ease-in-out; }
.rotated-208 { transform: rotate(208deg); transition: transform .4s ease-in-out; }
.rotated-209 { transform: rotate(209deg); transition: transform .4s ease-in-out; }
.rotated-210 { transform: rotate(210deg); transition: transform .4s ease-in-out; }
.rotated-211 { transform: rotate(211deg); transition: transform .4s ease-in-out; }
.rotated-212 { transform: rotate(212deg); transition: transform .4s ease-in-out; }
.rotated-213 { transform: rotate(213deg); transition: transform .4s ease-in-out; }
.rotated-214 { transform: rotate(214deg); transition: transform .4s ease-in-out; }
.rotated-215 { transform: rotate(215deg); transition: transform .4s ease-in-out; }
.rotated-216 { transform: rotate(216deg); transition: transform .4s ease-in-out; }
.rotated-217 { transform: rotate(217deg); transition: transform .4s ease-in-out; }
.rotated-218 { transform: rotate(218deg); transition: transform .4s ease-in-out; }
.rotated-219 { transform: rotate(219deg); transition: transform .4s ease-in-out; }
.rotated-220 { transform: rotate(220deg); transition: transform .4s ease-in-out; }
.rotated-221 { transform: rotate(221deg); transition: transform .4s ease-in-out; }
.rotated-222 { transform: rotate(222deg); transition: transform .4s ease-in-out; }
.rotated-223 { transform: rotate(223deg); transition: transform .4s ease-in-out; }
.rotated-224 { transform: rotate(224deg); transition: transform .4s ease-in-out; }
.rotated-225 { transform: rotate(225deg); transition: transform .4s ease-in-out; }
.rotated-226 { transform: rotate(226deg); transition: transform .4s ease-in-out; }
.rotated-227 { transform: rotate(227deg); transition: transform .4s ease-in-out; }
.rotated-228 { transform: rotate(228deg); transition: transform .4s ease-in-out; }
.rotated-229 { transform: rotate(229deg); transition: transform .4s ease-in-out; }
.rotated-230 { transform: rotate(230deg); transition: transform .4s ease-in-out; }
.rotated-231 { transform: rotate(231deg); transition: transform .4s ease-in-out; }
.rotated-232 { transform: rotate(232deg); transition: transform .4s ease-in-out; }
.rotated-233 { transform: rotate(233deg); transition: transform .4s ease-in-out; }
.rotated-234 { transform: rotate(234deg); transition: transform .4s ease-in-out; }
.rotated-235 { transform: rotate(235deg); transition: transform .4s ease-in-out; }
.rotated-236 { transform: rotate(236deg); transition: transform .4s ease-in-out; }
.rotated-237 { transform: rotate(237deg); transition: transform .4s ease-in-out; }
.rotated-238 { transform: rotate(238deg); transition: transform .4s ease-in-out; }
.rotated-239 { transform: rotate(239deg); transition: transform .4s ease-in-out; }
.rotated-240 { transform: rotate(240deg); transition: transform .4s ease-in-out; }
.rotated-241 { transform: rotate(241deg); transition: transform .4s ease-in-out; }
.rotated-242 { transform: rotate(242deg); transition: transform .4s ease-in-out; }
.rotated-243 { transform: rotate(243deg); transition: transform .4s ease-in-out; }
.rotated-244 { transform: rotate(244deg); transition: transform .4s ease-in-out; }
.rotated-245 { transform: rotate(245deg); transition: transform .4s ease-in-out; }
.rotated-246 { transform: rotate(246deg); transition: transform .4s ease-in-out; }
.rotated-247 { transform: rotate(247deg); transition: transform .4s ease-in-out; }
.rotated-248 { transform: rotate(248deg); transition: transform .4s ease-in-out; }
.rotated-249 { transform: rotate(249deg); transition: transform .4s ease-in-out; }
.rotated-250 { transform: rotate(250deg); transition: transform .4s ease-in-out; }
.rotated-251 { transform: rotate(251deg); transition: transform .4s ease-in-out; }
.rotated-252 { transform: rotate(252deg); transition: transform .4s ease-in-out; }
.rotated-253 { transform: rotate(253deg); transition: transform .4s ease-in-out; }
.rotated-254 { transform: rotate(254deg); transition: transform .4s ease-in-out; }
.rotated-255 { transform: rotate(255deg); transition: transform .4s ease-in-out; }
.rotated-256 { transform: rotate(256deg); transition: transform .4s ease-in-out; }
.rotated-257 { transform: rotate(257deg); transition: transform .4s ease-in-out; }
.rotated-258 { transform: rotate(258deg); transition: transform .4s ease-in-out; }
.rotated-259 { transform: rotate(259deg); transition: transform .4s ease-in-out; }
.rotated-260 { transform: rotate(260deg); transition: transform .4s ease-in-out; }
.rotated-261 { transform: rotate(261deg); transition: transform .4s ease-in-out; }
.rotated-262 { transform: rotate(262deg); transition: transform .4s ease-in-out; }
.rotated-263 { transform: rotate(263deg); transition: transform .4s ease-in-out; }
.rotated-264 { transform: rotate(264deg); transition: transform .4s ease-in-out; }
.rotated-265 { transform: rotate(265deg); transition: transform .4s ease-in-out; }
.rotated-266 { transform: rotate(266deg); transition: transform .4s ease-in-out; }
.rotated-267 { transform: rotate(267deg); transition: transform .4s ease-in-out; }
.rotated-268 { transform: rotate(268deg); transition: transform .4s ease-in-out; }
.rotated-269 { transform: rotate(269deg); transition: transform .4s ease-in-out; }
.rotated-270 { transform: rotate(270deg); transition: transform .4s ease-in-out; }
.rotated-271 { transform: rotate(271deg); transition: transform .4s ease-in-out; }
.rotated-272 { transform: rotate(272deg); transition: transform .4s ease-in-out; }
.rotated-273 { transform: rotate(273deg); transition: transform .4s ease-in-out; }
.rotated-274 { transform: rotate(274deg); transition: transform .4s ease-in-out; }
.rotated-275 { transform: rotate(275deg); transition: transform .4s ease-in-out; }
.rotated-276 { transform: rotate(276deg); transition: transform .4s ease-in-out; }
.rotated-277 { transform: rotate(277deg); transition: transform .4s ease-in-out; }
.rotated-278 { transform: rotate(278deg); transition: transform .4s ease-in-out; }
.rotated-279 { transform: rotate(279deg); transition: transform .4s ease-in-out; }
.rotated-280 { transform: rotate(280deg); transition: transform .4s ease-in-out; }
.rotated-281 { transform: rotate(281deg); transition: transform .4s ease-in-out; }
.rotated-282 { transform: rotate(282deg); transition: transform .4s ease-in-out; }
.rotated-283 { transform: rotate(283deg); transition: transform .4s ease-in-out; }
.rotated-284 { transform: rotate(284deg); transition: transform .4s ease-in-out; }
.rotated-285 { transform: rotate(285deg); transition: transform .4s ease-in-out; }
.rotated-286 { transform: rotate(286deg); transition: transform .4s ease-in-out; }
.rotated-287 { transform: rotate(287deg); transition: transform .4s ease-in-out; }
.rotated-288 { transform: rotate(288deg); transition: transform .4s ease-in-out; }
.rotated-289 { transform: rotate(289deg); transition: transform .4s ease-in-out; }
.rotated-290 { transform: rotate(290deg); transition: transform .4s ease-in-out; }
.rotated-291 { transform: rotate(291deg); transition: transform .4s ease-in-out; }
.rotated-292 { transform: rotate(292deg); transition: transform .4s ease-in-out; }
.rotated-293 { transform: rotate(293deg); transition: transform .4s ease-in-out; }
.rotated-294 { transform: rotate(294deg); transition: transform .4s ease-in-out; }
.rotated-295 { transform: rotate(295deg); transition: transform .4s ease-in-out; }
.rotated-296 { transform: rotate(296deg); transition: transform .4s ease-in-out; }
.rotated-297 { transform: rotate(297deg); transition: transform .4s ease-in-out; }
.rotated-298 { transform: rotate(298deg); transition: transform .4s ease-in-out; }
.rotated-299 { transform: rotate(299deg); transition: transform .4s ease-in-out; }
.rotated-300 { transform: rotate(300deg); transition: transform .4s ease-in-out; }
.rotated-301 { transform: rotate(301deg); transition: transform .4s ease-in-out; }
.rotated-302 { transform: rotate(302deg); transition: transform .4s ease-in-out; }
.rotated-303 { transform: rotate(303deg); transition: transform .4s ease-in-out; }
.rotated-304 { transform: rotate(304deg); transition: transform .4s ease-in-out; }
.rotated-305 { transform: rotate(305deg); transition: transform .4s ease-in-out; }
.rotated-306 { transform: rotate(306deg); transition: transform .4s ease-in-out; }
.rotated-307 { transform: rotate(307deg); transition: transform .4s ease-in-out; }
.rotated-308 { transform: rotate(308deg); transition: transform .4s ease-in-out; }
.rotated-309 { transform: rotate(309deg); transition: transform .4s ease-in-out; }
.rotated-310 { transform: rotate(310deg); transition: transform .4s ease-in-out; }
.rotated-311 { transform: rotate(311deg); transition: transform .4s ease-in-out; }
.rotated-312 { transform: rotate(312deg); transition: transform .4s ease-in-out; }
.rotated-313 { transform: rotate(313deg); transition: transform .4s ease-in-out; }
.rotated-314 { transform: rotate(314deg); transition: transform .4s ease-in-out; }
.rotated-315 { transform: rotate(315deg); transition: transform .4s ease-in-out; }
.rotated-316 { transform: rotate(316deg); transition: transform .4s ease-in-out; }
.rotated-317 { transform: rotate(317deg); transition: transform .4s ease-in-out; }
.rotated-318 { transform: rotate(318deg); transition: transform .4s ease-in-out; }
.rotated-319 { transform: rotate(319deg); transition: transform .4s ease-in-out; }
.rotated-320 { transform: rotate(320deg); transition: transform .4s ease-in-out; }
.rotated-321 { transform: rotate(321deg); transition: transform .4s ease-in-out; }
.rotated-322 { transform: rotate(322deg); transition: transform .4s ease-in-out; }
.rotated-323 { transform: rotate(323deg); transition: transform .4s ease-in-out; }
.rotated-324 { transform: rotate(324deg); transition: transform .4s ease-in-out; }
.rotated-325 { transform: rotate(325deg); transition: transform .4s ease-in-out; }
.rotated-326 { transform: rotate(326deg); transition: transform .4s ease-in-out; }
.rotated-327 { transform: rotate(327deg); transition: transform .4s ease-in-out; }
.rotated-328 { transform: rotate(328deg); transition: transform .4s ease-in-out; }
.rotated-329 { transform: rotate(329deg); transition: transform .4s ease-in-out; }
.rotated-330 { transform: rotate(330deg); transition: transform .4s ease-in-out; }
.rotated-331 { transform: rotate(331deg); transition: transform .4s ease-in-out; }
.rotated-332 { transform: rotate(332deg); transition: transform .4s ease-in-out; }
.rotated-333 { transform: rotate(333deg); transition: transform .4s ease-in-out; }
.rotated-334 { transform: rotate(334deg); transition: transform .4s ease-in-out; }
.rotated-335 { transform: rotate(335deg); transition: transform .4s ease-in-out; }
.rotated-336 { transform: rotate(336deg); transition: transform .4s ease-in-out; }
.rotated-337 { transform: rotate(337deg); transition: transform .4s ease-in-out; }
.rotated-338 { transform: rotate(338deg); transition: transform .4s ease-in-out; }
.rotated-339 { transform: rotate(339deg); transition: transform .4s ease-in-out; }
.rotated-340 { transform: rotate(340deg); transition: transform .4s ease-in-out; }
.rotated-341 { transform: rotate(341deg); transition: transform .4s ease-in-out; }
.rotated-342 { transform: rotate(342deg); transition: transform .4s ease-in-out; }
.rotated-343 { transform: rotate(343deg); transition: transform .4s ease-in-out; }
.rotated-344 { transform: rotate(344deg); transition: transform .4s ease-in-out; }
.rotated-345 { transform: rotate(345deg); transition: transform .4s ease-in-out; }
.rotated-346 { transform: rotate(346deg); transition: transform .4s ease-in-out; }
.rotated-347 { transform: rotate(347deg); transition: transform .4s ease-in-out; }
.rotated-348 { transform: rotate(348deg); transition: transform .4s ease-in-out; }
.rotated-349 { transform: rotate(349deg); transition: transform .4s ease-in-out; }
.rotated-350 { transform: rotate(350deg); transition: transform .4s ease-in-out; }
.rotated-351 { transform: rotate(351deg); transition: transform .4s ease-in-out; }
.rotated-352 { transform: rotate(352deg); transition: transform .4s ease-in-out; }
.rotated-353 { transform: rotate(353deg); transition: transform .4s ease-in-out; }
.rotated-354 { transform: rotate(354deg); transition: transform .4s ease-in-out; }
.rotated-355 { transform: rotate(355deg); transition: transform .4s ease-in-out; }
.rotated-356 { transform: rotate(356deg); transition: transform .4s ease-in-out; }
.rotated-357 { transform: rotate(357deg); transition: transform .4s ease-in-out; }
.rotated-358 { transform: rotate(358deg); transition: transform .4s ease-in-out; }
.rotated-359 { transform: rotate(359deg); transition: transform .4s ease-in-out; }
.rotated-360 { transform: rotate(360deg); transition: transform .4s ease-in-out; }