body {
  background: #45a173; }

#dealer {
  overflow: visible;
  padding-bottom: 10px; }

.section {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px; }

.min-height {
  min-height: 176px; }

#deck {
  position: relative;
  float: left;
  width: 106px;
  height: 138px; }

.card {
  width: 91px;
  height: 123px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }

.dealt-card {
  position: static;
  float: left;
  margin-right: 20px; }

#player-pane, #ai-pane {
  overflow: visible; }

.card-slot {
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  width: 101px;
  height: 133px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  -webkit-perspective: 0;
          perspective: 0; }

.rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out; }

.card.face-up {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.card figure {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.back {
  background-image: url("../cards/back.png") !important; }

.front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.selected-card {
  margin-top: -10px;
  -webkit-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out; }

.hearts-2 {
  background-image: url("../cards/2_of_hearts.png"); }

.hearts-3 {
  background-image: url("../cards/3_of_hearts.png"); }

.hearts-4 {
  background-image: url("../cards/4_of_hearts.png"); }

.hearts-5 {
  background-image: url("../cards/5_of_hearts.png"); }

.hearts-6 {
  background-image: url("../cards/6_of_hearts.png"); }

.hearts-7 {
  background-image: url("../cards/7_of_hearts.png"); }

.hearts-8 {
  background-image: url("../cards/8_of_hearts.png"); }

.hearts-9 {
  background-image: url("../cards/9_of_hearts.png"); }

.hearts-10 {
  background-image: url("../cards/10_of_hearts.png"); }

.hearts-j {
  background-image: url("../cards/j_of_hearts.png"); }

.hearts-q {
  background-image: url("../cards/q_of_hearts.png"); }

.hearts-k {
  background-image: url("../cards/k_of_hearts.png"); }

.hearts-a {
  background-image: url("../cards/a_of_hearts.png"); }

.diamonds-2 {
  background-image: url("../cards/2_of_diamonds.png"); }

.diamonds-3 {
  background-image: url("../cards/3_of_diamonds.png"); }

.diamonds-4 {
  background-image: url("../cards/4_of_diamonds.png"); }

.diamonds-5 {
  background-image: url("../cards/5_of_diamonds.png"); }

.diamonds-6 {
  background-image: url("../cards/6_of_diamonds.png"); }

.diamonds-7 {
  background-image: url("../cards/7_of_diamonds.png"); }

.diamonds-8 {
  background-image: url("../cards/8_of_diamonds.png"); }

.diamonds-9 {
  background-image: url("../cards/9_of_diamonds.png"); }

.diamonds-10 {
  background-image: url("../cards/10_of_diamonds.png"); }

.diamonds-j {
  background-image: url("../cards/j_of_diamonds.png"); }

.diamonds-q {
  background-image: url("../cards/q_of_diamonds.png"); }

.diamonds-k {
  background-image: url("../cards/k_of_diamonds.png"); }

.diamonds-a {
  background-image: url("../cards/a_of_diamonds.png"); }

.spades-2 {
  background-image: url("../cards/2_of_spades.png"); }

.spades-3 {
  background-image: url("../cards/3_of_spades.png"); }

.spades-4 {
  background-image: url("../cards/4_of_spades.png"); }

.spades-5 {
  background-image: url("../cards/5_of_spades.png"); }

.spades-6 {
  background-image: url("../cards/6_of_spades.png"); }

.spades-7 {
  background-image: url("../cards/7_of_spades.png"); }

.spades-8 {
  background-image: url("../cards/8_of_spades.png"); }

.spades-9 {
  background-image: url("../cards/9_of_spades.png"); }

.spades-10 {
  background-image: url("../cards/10_of_spades.png"); }

.spades-j {
  background-image: url("../cards/j_of_spades.png"); }

.spades-q {
  background-image: url("../cards/q_of_spades.png"); }

.spades-k {
  background-image: url("../cards/k_of_spades.png"); }

.spades-a {
  background-image: url("../cards/a_of_spades.png"); }

.clubs-2 {
  background-image: url("../cards/2_of_clubs.png"); }

.clubs-3 {
  background-image: url("../cards/3_of_clubs.png"); }

.clubs-4 {
  background-image: url("../cards/4_of_clubs.png"); }

.clubs-5 {
  background-image: url("../cards/5_of_clubs.png"); }

.clubs-6 {
  background-image: url("../cards/6_of_clubs.png"); }

.clubs-7 {
  background-image: url("../cards/7_of_clubs.png"); }

.clubs-8 {
  background-image: url("../cards/8_of_clubs.png"); }

.clubs-9 {
  background-image: url("../cards/9_of_clubs.png"); }

.clubs-10 {
  background-image: url("../cards/10_of_clubs.png"); }

.clubs-j {
  background-image: url("../cards/j_of_clubs.png"); }

.clubs-q {
  background-image: url("../cards/q_of_clubs.png"); }

.clubs-k {
  background-image: url("../cards/k_of_clubs.png"); }

.clubs-a {
  background-image: url("../cards/a_of_clubs.png"); }
